@import url(../style.css);

body {
    background-image: url(../assets/back1.png);
}

nav a:nth-child(2) {
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--text-secondary);
}

.content {
    margin: 0 auto;
    margin-top: 17.2rem;
    align-items: center;
    gap: 2.4rem;
}